@tailwind base;
@tailwind components;
@tailwind utilities;

body,
:root {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/*
:focus {
  @apply outline-primary;
  @apply outline-2;
  @apply rounded-sm;
  @apply outline-dashed;
}
*/

/*:focus,
:focus-visible {
  @apply rounded-sm outline-none ring-2 ring-offset-2;
  @apply outline-none;
}
*/
